.container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#myVideo { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.profile{
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  height: 60%;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  flex-direction: column;
  opacity: 0.9;
  border-radius: 5px;
}

.avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
        
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

div{
  text-align: center
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.card a{
  color:  #4190D0;
  opacity: 0.5;
}

.card .circle{
  font-size: 5px;
  font-weight: lighter;
  padding: 0 10px;
}


.profile #description {
  padding: 0px 75px;
  text-align: justify;
}